{% extends "base.html" %}
{% block content %}
<div class="container">
    <table>
        <thead>
            <tr>
                <th>proveedor</th>
                <th>factura</th>
                <th>total</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in planilla %}
            <tr>
                {%if factura.due.balance > 0 %}
                <td>{{ factura.provider.name }}</td>
                <td>{{ factura.due.prefix ~ "-" ~ factura.due.consecutive }}</td>
                <td>{{ factura.due.balance }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
</div>
{% endblock %}